{% sw_extends '@Storefront/storefront/page/account/index.html.twig' %}

{% block page_account_main_content %}
    <div data-jsData="{{ {
        'salesChannelAccessKey': context.salesChannel.accessKey,
        'translations': {
            'cardNumberPlaceholder': 'cybersource_shopware6.credit_card.cardNumberPlaceholderText' | trans,
            'paymentMethodNotAvailable': 'cybersource_shopware6.credit_card.paymentMethodNotAvailable' | trans,
            'cvvPlaceholder': 'cybersource_shopware6.savedCards.cvv' | trans,
            'expiryDatePlaceholder': 'cybersource_shopware6.credit_card.expiryDatePlaceholderText' | trans,
            'pleaseEnterValidExpirationDate': 'cybersource_shopware6.savedCards.pleaseEnterValidExpirationDate' | trans,
            'monthInvalid': 'cybersource_shopware6.savedCards.monthInvalid' | trans,
            'expirationDatePast': 'cybersource_shopware6.savedCards.expirationDatePast' | trans,
            'pleaseEnterValidFirstName': 'cybersource_shopware6.savedCards.pleaseEnterValidFirstName' | trans,
            'pleaseEnterValidLastName': 'cybersource_shopware6.savedCards.pleaseEnterValidLastName' | trans,
            'pleaseEnterValidEmail': 'cybersource_shopware6.savedCards.pleaseEnterValidEmail' | trans,
            'pleaseEnterValidStreet': 'cybersource_shopware6.savedCards.pleaseEnterValidStreet' | trans,
            'pleaseEnterValidCity': 'cybersource_shopware6.savedCards.pleaseEnterValidCity' | trans,
            'pleaseEnterValidZip': 'cybersource_shopware6.savedCards.pleaseEnterValidZip' | trans,
            'pleaseEnterValidCountry': 'cybersource_shopware6.savedCards.pleaseEnterValidCountry' | trans,
            'pleaseEnterValidState': 'cybersource_shopware6.savedCards.pleaseEnterValidState' | trans,
            'cardFieldsNotLoaded': 'cybersource_shopware6.savedCards.cardFieldsNotLoaded' | trans,
            'cardVerificationFailed': 'cybersource_shopware6.savedCards.cardVerificationFailed' | trans,
            'paymentSetupFailed': 'cybersource_shopware6.savedCards.paymentSetupFailed' | trans,
            'paymentSetupError': 'cybersource_shopware6.savedCards.paymentSetupError' | trans,
            'saveCardFailed': 'cybersource_shopware6.savedCards.saveCardFailed' | trans,
            'saveCardError': 'cybersource_shopware6.savedCards.saveCardError' | trans,
            'authenticationFailed': 'cybersource_shopware6.savedCards.authenticationFailed' | trans,
            'authenticationError': 'cybersource_shopware6.savedCards.authenticationError' | trans,
            'requiredField': 'cybersource_shopware6.savedCards.requiredField' | trans,
            'requiredCheckbox': 'cybersource_shopware6.savedCards.requiredCheckbox' | trans,
            'addCard': 'cybersource_shopware6.savedCards.addCard' | trans,
            'cancelCard': 'cybersource_shopware6.savedCards.cancelCard' | trans,
            'processing': 'cybersource_shopware6.savedCards.processing' | trans
        }
    } | json_encode | escape('html_attr') }}">
    </div>

    <div class="account-welcome">
        <h1>{{ 'cybersource_shopware6.savedCards.savedCards' | trans }}</h1>
    </div>

    {% if cards is empty %}
        <p>{{ 'cybersource_shopware6.savedCards.noSavedCards' | trans }}</p>
    {% else %}
        {% set cardTypeMap = {
            '001': 'VISA',
            '002': 'MASTERCARD',
            '003': 'AMEX',
            '004': 'DISCOVER',
            '005': 'DINERS',
            '006': 'JCB',
            '007': 'MAESTRO',
            '014': 'DANKORT',
            '024': 'UNIONPAY'
        } %}
        {% set cardImages = {
            'AMEX': 'https://files.readme.io/97e7acc-Amex.png',
            'DINERS': 'https://files.readme.io/8c73810-Diners_Club.png',
            'DISCOVER': 'https://files.readme.io/caea86d-Discover.png',
            'JCB': 'https://files.readme.io/e076aed-JCB.png',
            'MASTERCARD': 'https://files.readme.io/5b7b3de-Mastercard.png',
            'VISA': 'https://files.readme.io/9018c4f-Visa.png',
            'MAESTRO': 'https://files.readme.io/79d7723-Maestro.png',
            'UNIONPAY': 'https://files.readme.io/92c35c7-UnionPay.png',
            'DANKORT': 'https://files.readme.io/ff5319d-Dankort.png'
        } %}

        <div class="cards-container">
            {% for card in cards %}
                {% set cardType = cardTypeMap[card.type] ?? card.type %}
                <div class="cybersource-credit-card {{ cardType|lower }}" data-payment-profile-id="{{ card.id }}">
                    <div class="card-header">
                        <span class="card-type">
                            {% if cardImages[cardType] is defined %}
                                <img src="{{ cardImages[cardType] }}" alt="{{ cardType }}" class="card-icon"/>
                            {% endif %}
                            {{ cardType }}
                        </span>
                    </div>
                     <div class="card-first-name">
                      {{ card.billingAddress.firstName }}
                    </div>
                    <div class="card-number-wrapper">
                        <span class="card-number-type">
                        {{ cardType }}
                        </span>
                        <div class="card-number">
                       **** **** **** {{ card.cardNumber|slice(-4) }} 
                    </div>
                     <div class="billing-state">
                        <span>

                            {% if card.billingAddress.administrativeArea is not empty %}
                                {{ 'cybersource_shopware6.savedCards.billingState' | trans }} {{ card.billingAddress.administrativeArea }}
                            {% endif %}
                        </span>
                    </div>
                    </div>

                    <div class="card-actions">
                        <form method="post" action="{{ path('frontend.cybersource.delete_card') }}" style="display:inline;">
                            <input type="hidden" name="instrumentId" value="{{ card.id }}">
                            <input type="hidden" name="customerId" value="{{ card.customerId }}">
                            <button type="submit" class="delete-card-btn">
                                {{ 'cybersource_shopware6.savedCards.deleteCard' | trans }}
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}


    <div>
        <button id="addCardButton">{{ 'cybersource_shopware6.savedCards.addCard' | trans }}</button>
        <div id="paymentForm" style="display: none;">
            <div id="billingSection">
                <div id="billingAddressSection">
                    <h3>{{ 'cybersource_shopware6.savedCards.billingAddress' | trans }}</h3>
                    <div class="form-grid">
                        <div class="form-group">
                            <label for="billingFirstName" class="form-label">{{ 'cybersource_shopware6.savedCards.firstName' | trans }}</label>
                            <input type="text" id="billingFirstName" name="billingFirstName" class="form-control" placeholder="{{ 'cybersource_shopware6.savedCards.firstName' | trans }}">
                            <div id="billingFirstName-error" class="error-message" style="display: none;">{{ 'cybersource_shopware6.savedCards.pleaseEnterValidFirstName' | trans }}</div>
                        </div>
                        <div class="form-group">
                            <label for="billingLastName" class="form-label">{{ 'cybersource_shopware6.savedCards.lastName' | trans }}</label>
                            <input type="text" id="billingLastName" name="billingLastName" class="form-control" placeholder="{{ 'cybersource_shopware6.savedCards.lastName' | trans }}">
                            <div id="billingLastName-error" class="error-message" style="display: none;">{{ 'cybersource_shopware6.savedCards.pleaseEnterValidLastName' | trans }}</div>
                        </div>
                        <div class="form-group">
                            <label for="billingEmail" class="form-label">{{ 'cybersource_shopware6.savedCards.email' | trans }}</label>
                            <input type="email" id="billingEmail" name="billingEmail" class="form-control" placeholder="{{ 'cybersource_shopware6.savedCards.email' | trans }}">
                            <div id="billingEmail-error" class="error-message" style="display: none;">{{ 'cybersource_shopware6.savedCards.pleaseEnterValidEmail' | trans }}</div>
                        </div>
                        <div class="form-group">
                            <label for="billingStreet" class="form-label">{{ 'cybersource_shopware6.savedCards.street' | trans }}</label>
                            <input type="text" id="billingStreet" name="billingStreet" class="form-control" placeholder="{{ 'cybersource_shopware6.savedCards.street' | trans }}">
                            <div id="billingStreet-error" class="error-message" style="display: none;">{{ 'cybersource_shopware6.savedCards.pleaseEnterValidStreet' | trans }}</div>
                        </div>
                        <div class="form-group">
                            <label for="billingCity" class="form-label">{{ 'cybersource_shopware6.savedCards.city' | trans }}</label>
                            <input type="text" id="billingCity" name="billingCity" class="form-control" placeholder="{{ 'cybersource_shopware6.savedCards.city' | trans }}">
                            <div id="billingCity-error" class="error-message" style="display: none;">{{ 'cybersource_shopware6.savedCards.pleaseEnterValidCity' | trans }}</div>
                        </div>
                        <div class="form-group">
                            <label for="billingZip" class="form-label">{{ 'cybersource_shopware6.savedCards.zip' | trans }}</label>
                            <input type="text" id="billingZip" name="billingZip" class="form-control" placeholder="{{ 'cybersource_shopware6.savedCards.zip' | trans }}">
                            <div id="billingZip-error" class="error-message" style="display: none;">{{ 'cybersource_shopware6.savedCards.pleaseEnterValidZip' | trans }}</div>
                        </div>
                        <div class="form-group">
                            <label for="billingCountry" class="form-label">{{ 'cybersource_shopware6.savedCards.country' | trans }}</label>
                            <input type="hidden" id="billingCountryDefault" name="billingCountryDefault">
                            <select id="billingCountry" name="billingCountry" class="form-select">
                                <option value="">{{ 'cybersource_shopware6.savedCards.country' | trans }}</option>
                            </select>
                            <div id="billingCountry-error" class="error-message" style="display: none;">{{ 'cybersource_shopware6.savedCards.pleaseEnterValidCountry' | trans }}</div>
                        </div>
                        <div class="form-group" id="billingStateSection" style="display: none;">
                            <label for="billingState" class="form-label">{{ 'cybersource_shopware6.savedCards.state' | trans }}</label>
                            <input type="hidden" id="billingCountryStateDefault" name="billingCountryStateDefault">
                            <select id="billingState" name="billingState" class="form-select">
                                <option value="">{{ 'cybersource_shopware6.savedCards.selectState' | trans }}</option>
                            </select>
                            <div id="billingState-error" class="error-message" style="display: none;">{{ 'cybersource_shopware6.savedCards.pleaseEnterValidState' | trans }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="newCardForm">
                <h3>{{ 'cybersource_shopware6.savedCards.creditCard' | trans }}</h3>
                <div class="form-group">
                    <label for="number-container">{{ 'cybersource_shopware6.credit_card.cardNumber' | trans }}</label>
                    <div id="number-container" class="microform-field"></div>
                </div>
                <div class="form-group">
                    <label for="securityCode-container">{{ 'cybersource_shopware6.savedCards.cvv' | trans }}</label>
                    <div id="securityCode-container" class="microform-field"></div>
                </div>
                <div class="form-group">
                    <label>{{ 'cybersource_shopware6.savedCards.expDate' | trans }}</label>
                    <div class="expiry-group">
                        <input id="expMonth" type="text" placeholder="{{ 'cybersource_shopware6.credit_card.expiryDatePlaceholderText' | trans | split('/')[0] }}" maxlength="2" required>
                        <input id="expYear" type="text" placeholder="{{ 'cybersource_shopware6.credit_card.expiryDatePlaceholderText' | trans | split('/')[1] }}" maxlength="4" required>
                    </div>
                    <div id="expiry-error" class="error-message">{{ 'cybersource_shopware6.savedCards.pleaseEnterValidExpirationDate' | trans }}</div>
                </div>
            </div>
            <input id="cybersource_transaction_id" type="hidden" name="cybersource_transaction_id" value="">
            <input id="cybersource_payment_status" type="hidden" name="cybersource_payment_status" value="">
            <input id="cybersource_payment_uniqid" type="hidden" name="cybersource_payment_uniqid" value="">
            <input id="cybersource_authentication_transaction_id" type="hidden" name="cybersource_authentication_transaction_id" value="">
            <input id="cybersource_transient_token_jwt" type="hidden" name="cybersource_transient_token_jwt" value="">
            <input id="cybersource_subscription_id" type="hidden" name="cybersource_subscription_id" value="">
            <input id="cybersource_expiration_month" type="hidden" name="cybersource_expiration_month" value="">
            <input id="cybersource_expiration_year" type="hidden" name="cybersource_expiration_year" value="">
            <div class="d-grid">
                <button id="saveCardButton" class="form-group saveCardButton" type="button">{{ 'cybersource_shopware6.savedCards.saveCard' | trans }}</button>
            </div>
            <div id="step_up"></div>
        </div>
    </div>

    <script src="{{ asset('bundles/cybersourceshopware6/js/payment.js') }}"></script>
    <script src="{{ asset('bundles/cybersourceshopware6/js/billing.js') }}"></script>
{% endblock %}